flask
gunicorn
langchain
langchain-groq
langchain-community
langchain-huggingface
python-dotenv
groq
huggingface-hub
tiktoken
requests

pypdf
python-dotenv
pandas
prometheus_client

langchain-astradb
